/*font-family: Noto Serif Vithkuqi, serif;
font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;
font-family: "Tilt Prism", cursive; */

h1 {
  font-family: "Playfair Display", serif;
  color: green;
}
