:root {
  --primary-color: #14345b;
  --btn-color: #bdede3;
  --btn-hover: #81d1c7;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background: var(--primary-color);
}

.hero h1,
.hero h2,
.hero h3,
.hero p,
.hero a {
  text-align: center;
  color: white;
}
.hero h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: var(--primary-font);
  color: white;
}

.hero h2 {
  font-family: var(--secondary-font);
  color: white;
  font-weight: normal;
  font-size: 22px;
}

.hero h3 {
  font-size: 35px;
  font-family: var(--secondary-font);
}

.womanCoding {
  width: 70%;
  margin: 0 auto;
  border-radius: 50px 5px;
  height: auto;
}

.navigationLinks {
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  margin-top: 40px;
}

.navigationLinks a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  color: var(--btn-color);
  font-size: 30px;
}

.navLinkBtn:hover {
  color: black;
}
